{% extends "base.html" %}

{% block content %}
<div class="settings">
    <h1>⚙️ Account Settings</h1>
    
    <div class="card mb-4">
        <div class="card-header">Telegram Settings</div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Main Chat ID</dt>
                <dd class="col-sm-9">
                    {{ current_user.telegram_chat_ids.main or 'Not set' }}
                    <a href="{{ url_for('telegram.connect') }}" 
                       class="btn btn-sm btn-outline-primary ms-3">
                       Edit
                    </a>
                </dd>
                
                <dt class="col-sm-3">Additional IDs</dt>
                <dd class="col-sm-9">
                    {% if current_user.telegram_chat_ids.additional %}
                        <ul class="list-unstyled">
                            {% for chat_id in current_user.telegram_chat_ids.additional %}
                                <li>{{ chat_id }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        None
                    {% endif %}
                </dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}