{% extends "base.html" %}

{% block content %}
<h1>Create New Search</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    
    <!-- Keywords -->
    <div class="form-group">
        {{ form.keywords.label }}
        {{ form.keywords(class="form-control") }}
    </div>
    
    <!-- Check Interval -->
    <div class="form-group">
        {{ form.check_interval.label }}
        {{ form.check_interval(class="form-control") }}
    </div>
    
    <!-- Price Fields -->
    <div class="form-group">
        {{ form.min_price.label }}
        {{ form.min_price(class="form-control") }}
    </div>
    
    <div class="form-group">
        {{ form.max_price.label }}
        {{ form.max_price(class="form-control") }}
    </div>
    
    <button type="submit" class="btn btn-primary" name="submit">Save Search</button>
    <a href="{{ url_for('queries.manage_queries') }}" class="btn-cancel">Cancel</a>
</form>
{% endblock %}