{% extends "base.html" %}

{% block content %}
<h1>Create New Search</h1>
<form method="POST" action="{{ url_for('queries.create_query') }}">
    {{ form.hidden_tag() }}

    <div class="filter-section">
      <h3>Marketplace</h3>
      <select id="marketplace" name="marketplace" class="marketplace_select">
        <option value="EBAY_GB" data-site="ebay.co.uk">Great Britain (ebay.co.uk)</option>
        <option value="EBAY_US" data-site="ebay.com">United States (ebay.com)</option>
        <option value="EBAY_DE" data-site="ebay.de">Germany (ebay.de)</option>
        <option value="EBAY_CA" data-site="ebay.ca">Canada [English] (ebay.ca)</option>
        <option value="EBAY_AU" data-site="ebay.com.au">Australia (ebay.com.au)</option>
        <option value="EBAY_FR" data-site="ebay.fr">France (ebay.fr)</option>
        <option value="EBAY_IT" data-site="ebay.it">Italy (ebay.it)</option>
        <option value="EBAY_ES" data-site="ebay.es">Spain (ebay.es)</option>
        <option value="EBAY_NL" data-site="ebay.nl">Netherlands (ebay.nl)</option>
        <option value="EBAY_PL" data-site="ebay.pl">Poland (ebay.pl)</option>
      </select>
    </div>
    
    <!-- Keywords -->
    <div class="form-group">
        {{ form.keywords.label }}
        {{ form.keywords(class="form-control") }}
    </div>
    
    <!-- Check Interval -->
    <div class="form-group">
        {{ form.check_interval.label }}
        {{ form.check_interval(class="form-control") }}
    </div>
    
    <!-- Price Fields -->
    <div class="form-group">
        {{ form.min_price.label }}
        {{ form.min_price(class="form-control") }}
    </div>
    
    <div class="form-group">
        {{ form.max_price.label }}
        {{ form.max_price(class="form-control") }}
    </div>

      
      <!-- Location Filters -->
      <div class="filter-section">
        <h3>Item Location</h3>
        <select id="item_location" name="item_location" class="item_location_select">
          <option value="GB" selected>United Kingdom</option>
          <option value="US">United States</option>
          <option value="DE">Germany</option>
          <option value="CA">Canada</option>
          <option value="AU">Australia</option>
          <option value="FR">France</option>
          <option value="IT">Italy</option>
          <option value="ES">Spain</option>
          <option value="NL">Netherlands</option>
          <option value="PL">Poland</option>
        </select>
      </div>
    
    <button type="submit" class="btn btn-primary" name="submit">Save Search</button>
    <a href="{{ url_for('queries.manage_queries') }}" class="btn-cancel">Cancel</a>
</form>
{% endblock %}