{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Choose Your Plan</h1>
    
    <div class="row">
        <!-- Free Tier
        <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                    <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                    <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
                    <hr>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>1 Active Search</li>
                    </ul>
                    <div class="d-grid">
                        <a href="#" class="btn btn-primary text-uppercase">Current Plan</a>
                    </div>
                </div>
            </div>
        </div> -->
        
        <!-- Individual Tier -->
        <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                    <h5 class="card-title text-primary text-uppercase text-center">Individual</h5>
                    <h6 class="card-price text-center">£19.99<span class="period">/month</span></h6>
                    <hr>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>5+ Active Searches</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>1500 API Calls per day</li>
                    </ul>
                    <form method="POST" action="{{ url_for('subscription.create_subscription') }}">
                        {{ form.hidden_tag() }}
                        <input type="hidden" name="tier" value="individual">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary text-uppercase">Choose Plan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Company Tier -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success text-uppercase text-center">Business</h5>
                    <h6 class="card-price text-center">£49.99<span class="period">/month</span></h6>
                    <hr>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>15+ Active Searches</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>5000 API Calls per day</li>
                    </ul>
                    <form method="POST" action="{{ url_for('subscription.create_subscription') }}">
                        {{ form.hidden_tag() }}
                        <input type="hidden" name="tier" value="company">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success text-uppercase">Choose Plan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}