<!DOCTYPE html>
<html>
<head>
    <title>Ebay Bot{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <div class="nav-container">
            <a href="{{ url_for('main.index') }}" class="logo">Ebay Bot</a>
            <div class="nav-links">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('queries.manage_queries') }}">My Searches</a>
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                    <a href="{{ url_for('telegram.connect') }}">Connect Telegram</a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}">Login</a>
                    <a href="{{ url_for('auth.register') }}">Register</a>
                {% endif %}
            </div>
            
        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>